<div>
    <div style="background-color: purple ;height: 70px; display: flex;">
        <h1 style="color:white;margin-top: 20px;margin-left: 40px;">Cafe Management System</h1>
       <h2 style="color: whitesmoke;margin-top: 20px;margin-left: 900px;;"><a class="nav-link"  (click)="openSignupDialog()">Signup</a></h2> 
       <h2 style="color: whitesmoke;margin-top: 20px;margin-left: 40px;;"><a class="nav-link" (click)="openLoginDialog()">Login</a></h2> 
        </div>
    <!-- <mat-toolbar color="primary">
        <h1 style="vertical-align:middle;">Cafe Management System</h1>
        <span><a (click)="openSignupDialog()" >Signup</a></span>
       
    </mat-toolbar> -->

<div>
    <img src="../assets/cafe-home.png" alt="" style="width: 100%;">
</div>
<div style=" ">
    <h1 style="color: #808080;text-align: center;">BEST SELLER</h1>
    <div style="display: flex;width: 100%;">
        <div style="width: 400px;">
            <h1>Pizza</h1>
        <p>
            Pizza is a dish of Italian origin consisting of a usually round, flat base of leavened wheat-based dough topped with tomatoes, cheese, and often various other ingredients (such as various types of sausage, anchovies, mushrooms, onions, olives, vegetables, meat, ham, etc.), which is then baked at a high temperature, traditionally in a wood-fired oven. A small pizza is sometimes called a pizzetta. A person who makes pizza is known as a pizzaiolo.
        </p>
    </div><div><img style="border-radius: 60%;" src="../assets/Pizza.png" alt=""></div>
    
    </div>
<!-- 2 -->
    <div style="display: flex;width: 100%;">
        <div><img style="border-radius: 50%; margin: auto 0;" src="../assets/biryani.png" alt=""></div>
        <div style="width: 400px;">
            <h1>Biryani</h1>
        <p>
            Biryani is a mixed rice dish originating among the Muslims of the Indian subcontinent. It is made with Indian spices, rice, and usually some type of meat or in some cases without any meat, and sometimes, in addition, eggs and potatoes
        </p>
    </div>
    </div>

</div>
</div>